@tailwind base;
@tailwind components;
@tailwind utilities;

.views-element-container > div {
  @apply grid sm:grid-cols-3 gap-8;

  .views-row > * {
    @apply h-full;
  }
}

main {
  @apply max-w-7xl mx-auto p-4 sm:p-6;
}

.feed-icon {
  @apply hidden;
}

body {
  @apply bg-slate-100;
}

.transition-fade {
  transition: 150ms;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

img {
  @apply w-full;
}

:not(:defined) {
  display: block;
}